extensions:
	monolog: OriNette\Monolog\DI\MonologExtension

monolog:
	debug: true

	channels:
		ch_foo: []
		ch_bar:
			autowired: true
		ch_baz:
			autowired: Tests\OriNette\Monolog\Doubles\BazLogger
