extensions:
	monolog: OriNette\Monolog\DI\MonologExtension
	tracy: Tracy\Bridges\Nette\TracyExtension

monolog:
	debug: true

	channels:
		ch1:
			autowired: true

	bridge:
		toTracy: true

services:
	tracy.logger: Tests\OriNette\Monolog\Doubles\TracyTestLogger
