extensions:
	monolog: OriNette\Monolog\DI\MonologExtension

monolog:
	debug: %levelDebug%

	level:
		debug: alert
		production: emergency

	channels:
		ch_1: []

	handlers:
		h_a:
			service: @h_a
			level:
				debug: emergency
				production: alert

services:
	h_a: Monolog\Handler\TestHandler
