extensions:
	monolog: OriNette\Monolog\DI\MonologExtension
	tracy: Tracy\Bridges\Nette\TracyExtension(%debugMode%, %consoleMode%)

monolog:
	debug: true

	channels:
		main: []

	bridge:
		tracyPanel: true
