extensions:
	monolog: OriNette\Monolog\DI\MonologExtension
	tracy: Tracy\Bridges\Nette\TracyExtension

monolog:
	debug: true

	channels:
		ch1:
			autowired: true
		ch2: []
		ch3: []

	handlers:
		test:
			service: Monolog\Handler\TestHandler

	bridge:
		fromTracy: ['ch1', 'ch3']
