services:
	logger.one: Tests\OriNette\Monolog\Doubles\TestLogger
	logger.two: Tests\OriNette\Monolog\Doubles\TestLogger

	psrToTracyLogger:
		factory: OriNette\Monolog\Tracy\LazyTracyToPsrLogger
		arguments:
			serviceMap:
				- logger.one
				- logger.two
