includes:
	- phpstan.base.neon

parameters:
	level: 3
	resultCachePath: %currentWorkingDirectory%/var/tools/PHPStan/resultCache.tests.php

	scanDirectories:
		- ../src

	ignoreErrors:
		# Monolog V2 and V3 compatibility
		- '#^Fetching deprecated class constant (.+) of class Monolog\\Logger(.+)#'

		# We extend logger just for tests
		- '#^Class (.+)Logger extends @final class Monolog\\Logger\.$#'

		# Workaround for TracyExtension setting Tracy\Logger options via static method instead of service
		- message: '#^Access to an undefined property (.+)$#'
		  path: ../tests/Unit/Tracy/LazyTracyToPsrLoggerTest.php
		  count: 5
		- message: '#^Call to an undefined method (.+)#'
		  path: ../tests/Unit/Tracy/LazyTracyToPsrLoggerTest.php
		  count: 2
