includes:
	- phpstan.base.neon

parameters:
	level: 8
	resultCachePath: %currentWorkingDirectory%/var/tools/PHPStan/resultCache.src.php

	ignoreErrors:
		# Monolog V2 and V3 compatibility
		- message: '#^Parameter \#1 \$record of method (.+)HandlerAdapter\:\:processRecord\(\) expects Monolog\\LogRecord, array\|Monolog\\LogRecord given\.$#'
		  path: ../src/HandlerAdapter.php
		  count: 1
		- '#^Fetching deprecated class constant (.+) of class Monolog\\Logger(.+)#'
