parameters:
	ignoreErrors:
		-
			message: "#^Method Tests\\\\OriNette\\\\Monolog\\\\Doubles\\\\ExtendedTestHandler\\:\\:getProcessors\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 2
			path: ../tests/Doubles/ExtendedTestHandler.php

		-
			message: "#^Method Tests\\\\OriNette\\\\Monolog\\\\Doubles\\\\ExtendedTestHandler\\:\\:getProcessors\\(\\) should return array\\<\\(callable\\(array\\)\\: array\\)\\|Monolog\\\\Processor\\\\ProcessorInterface\\> but returns array\\<callable\\(Monolog\\\\LogRecord\\)\\: Monolog\\\\LogRecord\\>\\.$#"
			count: 1
			path: ../tests/Doubles/ExtendedTestHandler.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: ../tests/Doubles/SimpleTestHandler.php

		-
			message: "#^Instanceof between Monolog\\\\Level and Monolog\\\\Level will always evaluate to true\\.$#"
			count: 1
			path: ../tests/Doubles/SimpleTestHandler.php

		-
			message: "#^Parameter \\#1 \\$level of static method Monolog\\\\Logger\\:\\:toMonologLevel\\(\\) expects 100\\|200\\|250\\|300\\|400\\|500\\|550\\|600\\|'ALERT'\\|'alert'\\|'CRITICAL'\\|'critical'\\|'DEBUG'\\|'debug'\\|'EMERGENCY'\\|'emergency'\\|'ERROR'\\|'error'\\|'INFO'\\|'info'\\|'NOTICE'\\|'notice'\\|'WARNING'\\|'warning'\\|Monolog\\\\Level, int\\|Monolog\\\\Level\\|string given\\.$#"
			count: 1
			path: ../tests/Doubles/SimpleTestHandler.php

		-
			message: "#^Method Tests\\\\OriNette\\\\Monolog\\\\Doubles\\\\TestLogger\\:\\:log\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../tests/Doubles/TestLogger.php

		-
			message: "#^Property Tests\\\\OriNette\\\\Monolog\\\\Doubles\\\\TestMailer\\:\\:\\$mails type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../tests/Doubles/TestMailer.php

		-
			message: "#^Cannot access offset 1 on callable\\(\\)\\: mixed\\.$#"
			count: 2
			path: ../tests/Unit/DI/MonologExtensionTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertNotNull\\(\\) with null will always evaluate to false\\.$#"
			count: 1
			path: ../tests/Unit/Tracy/LazyTracyToPsrLoggerTest.php

		-
			message: "#^Dead catch \\- Orisai\\\\Exceptions\\\\Logic\\\\MemberInaccessible is never thrown in the try block\\.$#"
			count: 1
			path: ../tests/Unit/Tracy/LazyTracyToPsrLoggerTest.php

		-
			message: "#^Expression \"\\$logger\\-\\>fromEmail\" on a separate line does not do anything\\.$#"
			count: 1
			path: ../tests/Unit/Tracy/LazyTracyToPsrLoggerTest.php
